.content.center {
  display: flex;
  justify-content: unset;
  padding: 0;
  padding-left: 2vw;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 1vh 1vh 0 1vh;
}

.info {
  width: 50vw;
  margin-right: 5vw;
}

.info a{
  color: #81ff6d;
}

.info strong {
  color: #81ff6d;
  font-weight: 700;
}

.info input,select {
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid #81ff6d;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-left: 5px;
  color: #ddd;
  font-size: 1.2rem;
  margin: 0 10px;
}

.info select option {
  background-color: transparent;
  color: #000;
}

.info form {
  display: flex;
  margin-top: 5vh;
  align-items: center;
}

.info .button {
  height: 5vh;
  width: 5vw;
  line-height: 4vh;
}

.permutations {
  height: 80%;
  width:  auto;
  border-left: 1px solid #80ff6d52;
  border-right: 1px solid #80ff6d52;
  border: ;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.permutations #perm-count {
  margin: 0;
}


.scroll {
  height: 90%;
  overflow: scroll;

}

.scroll::-webkit-scrollbar {
  display: none;
}


.scroll ul li {
  list-style: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #81ff6d;
}